body{
    margin: 0;
    font-family: Arial, sans-serif;
}


.header{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #86585864;
}

.header nav{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 10px;
}
.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header ul li{
    display: inline-block;
    padding: 0 30px;
}
.header a{
    color:white;
    text-decoration:none;
}
.header .logo{
    width: 110px;
    height:auto;
    border: 5px solid white;
    border-radius: 10px;
}

.hero{
    height: 100vh;
    background-image: url('/static/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
  

}
.hero .content{
    position: relative;
    z-index: 1;
    font-size: 30px;
}

.scroll-down{
    position:absolute;
    bottom:20px;
    right: 40px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    animation: bounce 2s infinite;
    padding-bottom: 5px;

}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(-10px);
    }
}

.about{
    padding: 50px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
.about h2{
    margin-top: 0;
}
/* css para tabla */
.tabla{
    margin-top: 100px;

}
